body {
    margin: 0;
}

.header_logo img {
    width: 250px;
}

#header_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    background-color: white;
    border-bottom: solid #C6C6C6;
    padding-bottom: 1em;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2em;
}

.nav_title {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    text-decoration: none;
    color: black;
}

#container {
    background: linear-gradient(to right, rgba(212, 129, 58), rgba(179, 111, 150), rgba(152, 96, 227));
    width: 100%;
    margin: 0;
}

#container h1 {
    margin: 0;
}

#footer_container {
    background-color: white;
    border-top: solid #C6C6C6;
    padding-top: 1em;
}

.footer_title {
    margin-left: 1em;
}