body {
    margin: 0;
}

.header_logo img {
    width: 250px;
}

.header_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
    background-color: white;
    border-bottom: solid #C6C6C6;
    padding-bottom: 1em;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2em;
}

.nav_title {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    text-decoration: none;
    color: black;
}